

/* @import url(http://fonts.googleapis.com/css?family=Raleway:400,700); */

body
{
    background: black;
    position: relative;
/*     line-height: 1.5; */
}

a, a:hover, a:focus, .btn:focus
{
    outline: none;
}

h1
{
    color: white;
    font-family: Roboto;
    font-size: 70px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 4.8px;
    margin-bottom: 30px;
    margin-top: 45px;
    text-transform: uppercase;
}

h2
{
    text-shadow: -1px 1.7px 0 rgba(0, 0, 0, 0.34);
    color: white;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 3.65px;
    margin-bottom: 40px;
}

/* =======  yellow line  ====== */
section h2:after {
    content: " ";
    border: 4px solid #fae35d;
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
	max-width: 192px;
}


h3
{
    color: #fae35d;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

h6
{
    color: #050e13;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
}



.jumbotron
{
    border-radius: 0px;
    background: #5fb3ce;
    margin-bottom: 0;
}

.jumbotron button
{
    margin-top: 10px;
}

section
{
    height: 1080px;
    background-color: white;
}

section:nth-child(odd)
{
    background-color: black;
}

section:nth-child(odd) h2
{
    color: white;
}

section p
{
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.box a img
{
    margin-bottom: 20px;
}

.yellow{
	background-color: #fae35d !important;
}

.yellow p{
	color: #050e13 !important;
}


section h2
{
    color: #050e13;
    font-family: Roboto;
    font-size: 70px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
}

.box
{
    background-color: #050e13;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    padding: 40px;
    margin-bottom: 30px;
}

.nav
{
    display: none;
    height: 1000px;
    background: black;
    opacity: 0.55;
}

.nav a
{
    color: white;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    text-align: right;
}

.nav li a:hover,
.nav li a:focus
{
    background: transparent;
    color: #fae35d;
    font-family: Roboto;
    font-size: 33px;
    font-weight: 300;
}

.nav .active a {
	background: transparent;
	color: #fae35d;
	font-family: Roboto;
	font-size: 33px;
	font-weight: 300;
    font-weight: bold;
    background: transparent;
}

.nav .nav
{
    display: none;
}

.nav .active .nav
{
    display: block;
}

.nav .nav a
{
    font-weight: normal;
    font-size: .85em;
}

.nav .nav span
{
    margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a
{
    font-weight: bold;
    padding-left: 30px;
    border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span
{
    display: none;
}

.application
{
    border-top: 1px solid #c1e1ec;
}

.affix-top
{
    position: relative;
}

.affix
{
    top: 40px;
}

.affix, 
.affix-bottom
{
    width: 213px;
}

.affix-bottom
{
    position: absolute;
}

footer
{
    border-top: 1px solid #c1e1ec;
    height: 50px;
}

footer p
{
    line-height: 50px;
    margin-bottom: 0;
}

@media (min-width:1200px)
{
    .affix, 
  .affix-bottom
    {
        width: 263px;
    }
}

.inner
{
    display: inline-block;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    width: 860px;
}

body header {




	background: url("../img/background-top.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	height: 1080px;
    width: 100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

body footer {




	background: url("../img/background-bottom.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	height: 1080px;
    width: 100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.btn {
	border: 2px solid #fae35d;
    padding: 12px 35px;
    color: #131313;
	text-shadow: -1px 1.7px 0 rgba(0, 0, 0, 0.34);
	color: #fefefe;
	font-family: Questrial;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	border-radius: 0;
	margin-bottom: 28px;

}

footer .btn
{
    margin: 0;
}

.btn-yellow
{
    border: 0px solid #fae35d;
    background-color: #fae35d;
    width: 100%;
    text-align: center;
    border-radius: 0;
    color: #131313;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    padding: 19px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.chr-slash
{
    margin: 0 36px;
    color: #fefefe;
    font-family: Roboto;
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
}

.skyscraper
{
    width: 380px;
    height: 1080px;
    background: url("../img/background-skyscraper.jpg") no-repeat center center;
    border: 1px solid black;
}

.v-allign {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ------- Buttons Effects -------*/

/* Shutter Out Horizontal */

.hvr-shutter-out-horizontal
{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active
{
    color: white;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before
{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Sweep To Top */

.hvr-sweep-to-top
{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active
{
    color: white;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before
{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Rectangle Out */

.hvr-rectangle-out
{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-out:before
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active
{
    color: white;
}

.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);

/* ----Buttons Effects End */

.sec-title {
    margin-bottom: 50px;
}

.sec-title.white {
    color: black;
}

.sec-title h2 {
    font-size: 36px;
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}

.sec-title.white h2 {
    color: black;
}

.sec-title h2:after {
    border-bottom: 1px solid #009ee3;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-title.white h2:after {
    border-bottom: 1px solid black;
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


}

